
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Estonia&family=Inter:wght@500;600&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200;1,500&display=swap');

@font-face {
  font-family: RammettoOne-Regular;
  src: url('../../../font/RammettoOne-Regular.ttf');
}

@font-face {
  font-family: Sora;
  src: url('../../../font/Sora-VariableFont_wght.ttf');
}
.aboutus{
    
    width: 100%;
    min-height: 50vh;
    height: 100%;
    background-color: #07081d;
    padding-top: 5vh;

    /* background: url('../../images/random/tree_house.jpg');
    background-position: center;
    background-repeat: no-repeat; */
}

.title{
  display: flex;
  justify-content: start;
  

}
.textTitle > h2 > span{
  font-family: RammettoOne-Regular;
  font-size: 50px;
  font-weight: 400;
  color: #3bb9ff;
}

.textTitle > h2{
  color: #b0ecff;
}
.textTitle{
  padding:20px;
}
.aboutusContainer{
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  
  
  
  
}
.carousel-images{
  flex: 1 1 50%;
 
}

.abt-pic{
  margin: 5px;
  border-radius: 10px;
}
.aboutus-Text{
  flex:1 1 50%;
  color: #fff;

}
.aboutus-Text > p{
  font-family: Sora;
  font-size: 17px;
  text-align: justify;
}
.aboutus-Text >p >span{
  color: #3bb9ff;
}

.item{
  margin-top: 10px;
  width: 90%;
}

.nft-images{
 border-radius: 15px;
}

