@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');


@font-face {
    font-family: RammettoOne-Regular;
    src: url('../../../font/RammettoOne-Regular.ttf');
  }
  
  @font-face {
    font-family: Sora;
    src: url('../../../font/Sora-VariableFont_wght.ttf');
  }

  .leadTitle{
      color: #fff !important;
      font-family: Sora !important;
      font-size:16px  !important;
      color: #3bb9ff !important;
    }
.title{
    display: flex;
    justify-content: start;
    margin-left: 100px;
    margin-top: 50px;
  
  }
  .textTitle > h2 > span{
    font-family: RammettoOne-Regular;
    font-size: 50px;
    font-weight: 400;
    color: #3bb9ff;
  }
  .textTitle{
    padding:20px;
}
  
  .textTitle > h2{
    color: #b0ecff;
  }

.roadmap{
    background-color: #07081d;
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
    color: #fff;
    position: relative;
    
    
}

.roadmapComponent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 0px;
    position: relative;
    

}

.roadmapComponent-title > h6{
    font-size: 25px;
    text-transform: uppercase;
    color: #3bb9ff;
    cursor: pointer;
    
}
/* .roadmapComponent-title > h6:hover{
    color: #f1c40f;
} */
.roadmapComponent-text {
    margin-top: 20px;
    text-align: justify;
}

.roadmapComponent-text > p{
    font-size: 18px;
    font-family: Sora;
}

.roadmap-flex-1{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;

}

.roadmap-flex-2{
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;   
}
.roadmap-flex-2 >img{
    width: 100%;
    align-self: center;
    margin-top: 10px;
    border-radius: 15px;
    
}



ul.timeline {
    list-style-type: none;
    position: relative;
    
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 3px;
}
.styledRoadmap{
    display: flex;
    justify-content: space-between;
}
ul.timeliner {
    list-style-type: none;
    position: relative;
    width: 120px;
    
    

    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}
.q1{
    margin-top: 20px;
    font-family: Sora;
    font-size: 16px;
    color: #b0ecff;
}
.timerliner-div{
    text-align: center;

}

.roadmapStyle{
    margin-left: 40px;
    padding-left: 40px;
}
.q2{
    margin-top: 65.5vh;
    font-family: Sora;
    font-size: 16px;
    color: #b0ecff;
    
}

.q3{
    margin-top: 65.5vh;
    font-family: Sora;
    font-size: 16px;
    color: #b0ecff;
    
}

.roadmapStyle {
    padding-right: 25px;
}

@media only screen 
and (min-device-width: 1001px) 
and (max-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2) {
    .roadmap-flex-2{
        margin-top: 50px;
    }
    
}

@media only screen 
and (min-device-width: 900px) 
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .roadmap-flex-2{
        margin-top: 50px;
    }
    .q2{
        margin-top: 55vh;
    }

    .q3{
        margin-top: 79vh;
    }
    
}

@media only screen 
and (min-device-width: 700px) 
and (max-device-width: 899px)
and (-webkit-min-device-pixel-ratio: 2) {
  
}
