
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');


@font-face {
    font-family: RammettoOne-Regular;
    src: url('../../../font/RammettoOne-Regular.ttf');
  }
  
  @font-face {
    font-family: Sora;
    src: url('../../../font/Sora-VariableFont_wght.ttf');
  }

.ourteam{
    width: 100%;
    min-height: 150vh;
    height: 100%;
    background-color: #07081d;
    padding-top: 15vh;
    /* background: url('../../images/Squirrel.jpg');
    text-align: center;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    
}

.title{
    display: flex;
    justify-content: start;
    margin-left: 100px;
  
  }
  .textTitle{
      padding:20px;
  }
  .textTitle > h2 > span{
    font-family: RammettoOne-Regular;
    font-size: 50px;
    font-weight: 400;
    color: #3bb9ff;
  }
  
  .textTitle > h2{
    color: #b0ecff;
  }
.heroOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background:rgb(0, 0, 0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: start;
   
    
}

.pathway{
    width: 100%;
}
.pathway-div{
    width: 100%;
    
}

.our-team-title > h1{
    color:#fff;
    font-family: Acme;
    margin-top: 12vh;
}
.our-team-title > small{
    font-weight: bold;
    font-family: candara;
    color: #fff;
}

.team-pic-div{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;

    
    
}
.team-pic-div-2{
    display: flex;
    width: 100%;
    margin-top: 0px;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    
    
    
}
.team-1 {
   
    background:#000;
    border-radius: 15px;
    height: 250px;
    margin:10px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;

    
    
}


.team-2 {
    
    background:#000;
    border-radius: 15px;
    height: 250px;
    margin:10px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;
}
.team-3 {
   
    background:#000;
    border-radius: 15px;
    height: 250px;
    margin:10px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;
}
.team-4 {
   
    background:#000;
    border-radius: 15px;
    margin:10px;
    height: 250px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;
}
.team-5 {
  
    background:#000;
    border-radius: 15px;
    margin:10px;
    height: 250px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;
}
.team-6 {
    
    background:#000;

    border-radius: 15px;
    margin:10px;
    height: 250px;
    text-align: center;
    padding:20px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
    cursor: pointer;
}

.jobTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.official-title{
    font-size: 15px;
    font-family: Acme;
    color:#fff
}
.officer-name{
    font-size: 14px;
    font-family: Acme;
    color: #fff;
}
.job-description{
    font-size: 20px;
    font-family: Cookie;
    color: #fff;
}

.char-img:hover{
-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}



.team-4-div{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.team-4 {
    background:#fff;
    width: 400px;
    border-radius: 15px;
    height: 404px;
    
    z-index:11 ;
    text-align: center;
    padding:50px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 3px 3px #ccc;
}

.pathway-div-down{
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 91%;
    bottom: 0px;
}

.char-img{
    width: 70%;
}


/*****/

.teamAll{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    justify-content: center;
   
}
.team-member{
    flex:1 1 calc(50% - 25px);
    margin: 10px;
    display: flex;
    justify-content: space-between;

}
.teamImg > img{
    border-radius: 15px;
}
.teamInfor{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:10px;
}
.mytitle{
    font-family: Sora;
    font-size: 17px;
    color:#3bb9ff;
    padding-left: 10px;
    text-transform: uppercase;
}
.teamposition{
    font-family: Sora;
    font-size: 17px;
    color: #fff;
    padding: 10px;
}
.twitterIcon{
    padding-left: 10px;
}
.twitter{
    width: 50px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #fbaf41;
    cursor: pointer;
}

.twitter:hover{
    border:2px solid #fbaf41
}

@media only screen 
and (min-device-width: 900px) 
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .teamAll{
        justify-content: space-between;
    }
    .team-member{
        flex:1 1 25%;
    }
}


@media only screen 
and (min-device-width: 500px) 
and (max-device-width: 699px)
and (-webkit-min-device-pixel-ratio: 2) {
 
  .title{
    display: flex;
    justify-content: center;
   
    
  }
  .textTitle{
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  .textTitle > h2{
   font-size: 18px;
   margin-top: 20px;
  }
  .title > div > img{
    width: 70%;
  }
  .logoArea{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textTitle > h2 > span{
    font-size: 30px !important;
  }
  .ourteam{
    padding-top: 3vh;
    padding-bottom: 30px;

  }
  .teamAll{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    justify-content: center;
   
}
.mytitle{
   
    font-size: 14px;
    
}
.teamposition{
    
    font-size: 15px;
  
}
  

}


@media only screen 
and (min-device-width: 400px) 
and (max-device-width: 499px)
and (-webkit-min-device-pixel-ratio: 2) {
 
  .title{
    display: flex;
    justify-content: center;
   
    
  }
  .textTitle{
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  .textTitle > h2{
   font-size: 18px;
   margin-top: 20px;
  }
  .title > div > img{
    width: 70%;
  }
  .logoArea{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textTitle > h2 > span{
    font-size: 25px !important;
  }
  .ourteam{
    padding-top: 0px;
    padding-bottom: 30px;

  }
  .teamAll{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    justify-content: center;
   
}
.mytitle{
   
    font-size: 14px;
    
}
.teamposition{
    
    font-size: 15px;
  
}
.teamImg > img{
    width: 140px;
}
.mytitle{
   
    font-size: 12px;
    
}
.teamposition{
    
    font-size: 12px;
  
}

}
