@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Estonia&family=Inter:wght@500;600&family=Satisfy&family=Source+Code+Pro:ital,wght@0,200;1,500&display=swap');

@font-face {
  font-family: RammettoOne-Regular;
  src: url('../../../font/RammettoOne-Regular.ttf');
}

@font-face {
  font-family: Sora;
  src: url('../../../font/Sora-VariableFont_wght.ttf');
}

.story{
    width: 100%;
    height: 120vh;
    background-color: #07081d;
    padding-top: 15vh;
    
    /* background: url('../../images/storypic/icecave.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    text-align: center;

   
}

.title{
    display: flex;
    justify-content: start;
    margin-left: 70px;
  
  }
  .textTitle > h2 > span{
    font-family: RammettoOne-Regular;
    font-size: 50px;
    font-weight: 400;
    color: #3bb9ff;
  }
  
  .textTitle > h2{
    color: #b0ecff;
    text-align: start;
  }
  .textTitle{
    padding:20px;
}

.story-content{
    display: flex;
    justify-content: space-between;
    color:#fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    
    
}

.mystory{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    text-align: start;
    padding: 40px;
    padding: 20px;
}
.mystoryImg{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:45%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.mystory >p{
    font-family: Sora;
    font-size: 16px;
    text-align: justify;
    display: flex;  
}

.story_pic{
    width: 100%;
    align-self: center;
    border-radius: 20px;
}

.heroOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background:rgb(0, 0, 0,0.8);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
   
    
}

