@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');


.story{
    width: 100%;
    height: 120vh;
    background: url('../../images/random/tree_house.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    margin: 0px;
}

.story-title > h1{
    margin-top: 12vh;
    font-family: Acme;
    color: #fff;
    
}

.story-title > small{
    font-weight: bold;
    font-family: candara;
    color: #fff;
}

.story-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color:#fff;
    
    
}

.mystory{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 65%;
    text-align: start;
    padding: 40px;
    padding: 20px;
}
.mystoryImg{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:40%;
    align-self: center;
    
}
.mystory >p{
    font-family: candara;
    font-size: 16px;
    text-align: justify;
    display: flex;
    
}

.story_pic{
    width: 100%;
    align-self: center;
    border-radius: 20px;
}

.heroOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background:rgb(0, 0, 0,0.8);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
   
    
}

