@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');

@font-face {
    font-family: RammettoOne-Regular;
    src: url('../../../font/RammettoOne-Regular.ttf');
  }
  
  @font-face {
    font-family: Sora;
    src: url('../../../font/Sora-VariableFont_wght.ttf');
  }

.faq{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #07081d;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 50px;
}


.faq-title > h1{
    
    color:#fff;
    font-family: Acme;
    margin-top: 10vh;
    
}

.faq-title > small{
    font-weight: bold;
    font-family: candara;
    color:#fff;
   
}

.faq-resp{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-align: center;
}


.faq-question{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    padding: 40px;
    color: #fff;

    border-top: 1px solid #3bb9ff;
    border-bottom: 1px solid #3bb9ff;
}

.faq-title{
    font-size: 16px;
    font-family: Sora;
    flex:1 1 90%;
    text-transform: uppercase;
    text-align: start;
    color:#3bb9ff ;
    cursor: pointer;
}

.faq-icon{
    cursor: pointer;
    flex:1 1 10%;
    text-align: end;
}

.faq-answer{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 20px;
    font-size: 15px;
    font-family: Sora;
    margin-left: 20px;
}
.faq-answer >p{
    text-align: justify;
}
