
*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}


html, body  {
  margin: 0px;
  

}
.scroller{
  position: absolute;
  z-index: 2000000;
  bottom: 50px;
  width: 100%;
  height: 100px;
  text-align: right;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  padding-right: 50px;
  
}

.scroll{
  background-color:#000;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.homeDiv{
  position:relative;
 display: flex;
 flex-direction: column;
 justify-content: center;

}

@media only screen 
and (min-device-width: 400px) 
and (max-device-width: 499px)
and (-webkit-min-device-pixel-ratio: 2) {
  .scroll{
    width: 40px;
    height: 40px;
  }
 
}