@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@500;600&display=swap');
*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Hero > small{
  color: #fff;
  font-family: Inter;
}
.HeroText{
  padding-top: 20%;
  font-family: Acme;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.Header{
  width: 100%;
  height: 60px;
  background:transparent;
  position: fixed;
}

.HeaderScroll{
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
}

.my-nav-container{
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;

  padding:15px;
  
}

.mynav{
  /* background-color: #61dafb; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mynav-item{
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.mynav-item-scroll{
  font-family: Inter;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
  color: #000;
  padding: 10px;
  cursor: pointer;
}

.mynav-item:hover{
  background-color: #1c1c93;
  color: #fff;
  border-radius: 10px;
  opacity: 0.5;
}


.create-button-signin{
  width:100px;
  height:35px;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  font-size: bold;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right:5px;
  font-family: Inter;
  border: 1px solid #000;
}

.create-button-register{
  width:100px;
  height:35px;
  background-color: #ffce00;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  font-size: bold;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: Inter;
}

.my-buttons{
  /* background-color: #ff0000; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  display: flex;
  justify-content: end;
  
}
.logo{
  text-align: start;
  /* background-color: #fff; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

.spinner{
  height: 100vh;
}

.HeroFlex{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}





 
.footer{
	height: 100vh;
	background-color: #000;
}